html {
    font-family: system-ui, -apple-system, 
        "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", 
        "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", 
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

nav {
    background-color: #113343;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-brand {
    display: block;
    color: #ffffff;
    text-decoration: none;
    height: 4rem;
    line-height: 4rem;
}

.nav-brand__image {
    width: 3rem;
    height: 4rem;
    vertical-align: bottom;
    color: #71b86a;
}

.nav-brand:hover .nav-brand__image:hover {
    color: #8ed8a9;
}

.button {
    background-color: #F35A39;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: fit-content; */
    height: fit-content;
    gap: 0.5rem; /* Adds spacing between the icon and text */
}

.button__icon {
    width: 1.5rem;
    height: 1.5rem;
}

.button:hover {
    background-color: #d95032;
    color: #ffffff;
}

.main-heading {
    color: #113343;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .25em;
}

.card {
    background-color: #f3f4f5;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.card__heading {
    margin: 0;
}