* {
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

nav {
    background-color: #113343;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem ;
}

.nav-brand {
    display: block;
    color: #ffffff;
    text-decoration: none;
    height: 4rem;
    line-height: 4rem;
}

.nav-brand__image {
    width: 3rem;
    height: 4rem;
    vertical-align: bottom;
    color: #71b86a;
}

.nav-brand:hover .nav-brand__image:hover {
    color: #8ed8a9;
}

.button {
    background-color: #f35a39;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 0.5rem;
}

.button__icon {
    width: 1.5rem;
    height: 1.5rem;
}

.button:hover {
    background-color: #d95032;
    color: #ffffff;
}

main {
    position: relative;
    /* background-color: #ffffff;
    padding: 2rem 0; */
}


main::before, main::after {
    content: "";
    display: block;
    position: absolute;
    top: -2rem;
    width: 10rem;
    height: 100%;
    background-image: url("../assets/SVG/bg-lines.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the image covers the area */
    transform: scale(1.2); /* Adjust scaling for better fit */
    z-index: -1;
}

main::before {
    left: 0;
}

main::after {
    right: 0;
    transform: scale(1.2) scaleX(-1); /* Flip the image horizontally for the right side */
}


.main-heading {
    color: #113343;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.25em;
    margin-top: 0;
    padding-top: .67rem;
}

.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    padding: 0 10rem ;
}

.card {
    display: flex;
    background-color: #f3f4f5;
    padding: 0;
    margin-bottom: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.card__desc-container {
    padding-right: 2rem;
    padding-left: 2rem;
}

.card__image {
    display: block;
    width: 10rem;
    height: 2rem;
    min-height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.card__heading {
    margin: 0;
}

.card__desc-time {
    color: #328677;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.card__heading {
    color: #113343;
    font-size: 1.75rem;
}

.card__heading::after {
    content: "";
    display: block;
    width: 6rem;
    height: 0.125rem;
    background-color: #328677;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: .25rem;
    justify-content: right;
    padding: 1rem;
    padding: 0 10rem ;
}

.pagination_link {
    display: flex;
    color: #113343;
    align-items: center;
    justify-content: center;
    border: rgb(200, 200, 200) solid 0.125rem;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.pagination_link:hover {
    background-color: #328677;
    color: #ffffff;
    border: #328677 solid 0.125rem;
}

.pagination_link--active {
    /* background-color: #328677; */
    color: #328677;
    border: #328677 solid 0.125rem;
}

/* Media Queries */
/* Mobile */
@media (max-width: 576px) {
    nav {
        padding: 0 1rem;
    }

    .nav-brand {
        font-size: 1rem;
    }

    .button {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    }

    .main-heading {
        font-size: 1.5rem;
    }

    .container {
        max-width: 100%;
        padding: 0 0.5rem;
    }

    .card {
        flex-direction: column;
    }

    .card__image-container {
        width: 100%;
        height: auto;
    }

    .card__image {
        width: 100%;
        height: auto;
        box-shadow: none;
    }

    .card__desc-container {
        padding: 1rem;
    }

    .card__heading {
        font-size: 1.5rem;
    }
}

/* Tablet */
@media (max-width: 768px) {
    nav {
        padding: 0 2rem;
    }

    .container {
        max-width: 720px;
    }

    .card {
        flex-direction: column;
    }

    .card__image {
        width: 100%;
        height: auto;
    }
}

/* Desktop */
@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}
